<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<connectionStrings>
		<add name="yyh" connectionString="Data Source=10.10.1.25;Initial Catalog=yyhsjk;Persist Security Info=False;User ID=sa;Password=fbsoft;" providerName="System.Data.SqlClient" />
	</connectionStrings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="carryXmlToDbServiceSoapBinding" />
    <binding name="collectDeclareServiceSoapBinding" />
    <binding name="collectDeclareServiceSoapBinding1" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://10.120.48.15:8889/SJCJSJSCJKL/SJSCL"
    binding="basicHttpBinding" bindingConfiguration="carryXmlToDbServiceSoapBinding"
    contract="YYhUploadService.CarryXmlToDbService" name="CarryXmlToDbServiceImplPort" />
   <endpoint address="http://10.120.48.15:8889/SJCJHQRWHJKL/PCRWHHQL"
    binding="basicHttpBinding" bindingConfiguration="collectDeclareServiceSoapBinding"
    contract="YYhBatchService.CollectDeclareService" name="CollectDeclareServiceImplPort" />
   <endpoint address="http://10.120.48.15:8889/SJCJHQRWHJKL/HQDCRWHL"
    binding="basicHttpBinding" bindingConfiguration="collectDeclareServiceSoapBinding1"
    contract="YYhSingleService.CollectDeclareService" name="CollectDeclareServiceImplPort1" />
  </client>
 </system.serviceModel>
</configuration>