<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<appSettings>
		<add key="yyh_sqlserver" value="Data Source=10.10.1.25;Initial Catalog=yyhsjk;Persist Security Info=False;User ID=sa;Password=fbsoft;" />
		<add key="yyh_oracle" value="User Id=oracle_user;Password=oracle_user_password;Data Source=yyh" />
	</appSettings>
	<!--<connectionStrings>
		<add name="yyh_sqlserver" connectionString="Data Source=xxxxxx;Initial Catalog=xxx;Persist Security Info=False;User ID=sa;Password=xx;" providerName="System.Data.SqlClient" />
		<add name="yyh_oracle" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=yyh" />
	</connectionStrings>-->
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="carryXmlToDbServiceSoapBinding" />
				<binding name="collectDeclareServiceSoapBinding" />
				<binding name="collectDeclareServiceSoapBinding1" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://10.120.48.15:8889/SJCJSJSCJKL/SJSCL" binding="basicHttpBinding" bindingConfiguration="carryXmlToDbServiceSoapBinding" contract="YYhUploadService.CarryXmlToDbService" name="CarryXmlToDbServiceImplPort" />
			<endpoint address="http://10.120.48.15:8889/SJCJHQRWHJKL/PCRWHHQL" binding="basicHttpBinding" bindingConfiguration="collectDeclareServiceSoapBinding" contract="YYhBatchService.CollectDeclareService" name="CollectDeclareServiceImplPort" />
			<endpoint address="http://10.120.48.15:8889/SJCJHQRWHJKL/HQDCRWHL" binding="basicHttpBinding" bindingConfiguration="collectDeclareServiceSoapBinding1" contract="YYhSingleService.CollectDeclareService" name="CollectDeclareServiceImplPort1" />
		</client>
	</system.serviceModel>
	<oracle.manageddataaccess.client>
		<version number="*">
			<dataSources>
				<dataSource alias="yyh" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.10.1.20)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
			</dataSources>
		</version>
	</oracle.manageddataaccess.client>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client" />
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
		</DbProviderFactories>
	</system.data>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>